@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 100px;
    }

    body {
        @apply font-sans bg-brand-light overflow-x-hidden;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c6a568;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0f2c59;
}